[user]
	name = Regina Victoria Lee
	email = regina.v.lee@gmail.com
[color]
	branch = auto
	status = auto
	diff = auto
[alias]
	current-branch = rev-parse --abbrev-ref HEAD
	cut-from = merge-base origin/master HEAD
	l = log --no-decorate --pretty=oneline --abbrev-commit
	lst = ls-tree --name-only -r
	lsc = diff --name-only --diff-filter=U
	# 'fb': "feature branch"
	# 'np': "not pushed"
	diff-fb = !git diff origin/master...
	l-fb = !git l origin/master..
	l-np = !git l origin/$(git current-branch)..
	log-fb = !git log origin/master..
	log-np = !git log origin/$(git current-branch)..
	rebase-fb = !git rebase -i $(git cut-from)
	# 'gl': GitLab
	ci-gl-wiki = commit --allow-empty-message -m ''